project_name         = "CarvCodingChallenge"
project_id           = "carv-coding-challenge"
web_app_display_name = "carv-coding-challenge-web-app"
firestore_region     = "europe-west4"
organization_id      = "add-me"
billing_account      = "add-me"
purchases_queue_name = "purchases_queue"
